.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: #c0c0c0;
}

nav.navbar .navbar-nav {
    gap: 20px;
}

.logo {
    width: 75px;
    height: 75px;
}

.nav-link  {
    font-family: "bebas neue";
    font-size: 24px;
    
}

.btn.btn-outline-success {
    align-items: center;
}

.form-control {
    width: 300px;
    background-color:  #e7e7e7;
    border-color: black;
    border-width: 2px;
}

.Caixa-de-login {
    display: grid;
    place-items: center;
    gap: 10px;
    margin-top: 50px;
}

.btn-login {
    border-radius: 10px;
    background-color: #C48781;
    height: 40px;
    width: 100px;
    font-family: "bebas neue";
}
